on:
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"
      - "labeled"
      - "unlabeled"
name: PR status checks

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3.4.1
        with:
          node-version: "12"
      - run: npm ci
      - run: npm run build
      - run: npm run lint
      - run: npm run format-check

  dogfood:
    name: Dogfood the action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # To run the version of the action from the PR.

      - name: package*.json updated
        uses: ./
        with:
          file-pattern: |
            package.json
            package-lock.json
          skip-label: "skip package*.json"

      - name: package-lock.json updated
        uses: ./
        with:
          prereq-pattern: "package.json"
          file-pattern: "package-lock.json"
          skip-label: "skip package*.json"

      - name: dist/index.js updated
        uses: ./
        with:
          prereq-pattern: "src/*.ts"
          file-pattern: "dist/index.js"
          skip-label: "skip packaging"
